.mat-drawer-content {
    margin-left: 15% !important;
    text-align: center;
    height: -webkit-fill-available;
}

.mat-drawer-container {
    height: -webkit-fill-available;
}

.mat-drawer.mat-drawer-side {
    background-color: blanchedalmond;
    width: 190px;
    text-align: center;
    height: -webkit-fill-available;
    padding: 10px;
}

.add-div-left {
    text-align: left;
}