.add-div-left {
    text-align: left;
}

.form-group {
    padding: 10px;
}

.form-group .error-label {
    color: #dc3545 !important;
    font-size: 12px !important;
    margin: 5px 0 0 0 !important;
    font-weight: 500;
}